.skip_menu {
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transform: translateY(-100%);
    transition: 0.3s;
    z-index: 10;
}

.skip_menu:focus {
    transform: translateY(0%);
}

/* header시작 */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* position: relative; */
    /* height: 100vh; */
    width: 100%;
    background: none;
    z-index: 100;
}



#popup {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #BFCFF0;
    z-index: 1;
}

#top_menu {
    position: absolute;
    width: 100%;
    top: 60px;
    height: 50px;
    background: rgba(19, 35, 75, 0.9);
    z-index: 1;
}

#menu {
    top: 110px;
    position: relative;
    width: 100%;
    height: 90px;
    background: rgba(19, 35, 75, 0.9);
    /* background:rgba(0, 0, 128, 0.479); */
    z-index: 9999999;
}

#banner {
    position: relative;
    height: 100%;
    /* top: -90px; */
}

.popup1 {
    width: 402px;
}

.popup3 {
    margin-top: -61px;
}

.popup_box {
    height: 60px;
}




#top_menu #gnb {
    height: 45px;
    background: #29385d;
    background: inherit;
}

.header_link {
    width: 835px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
}

.header_link li {
    float: left;
    font-size: 14px;
    padding-right: 7px;
    margin-right: 7px;
    margin-top: 15px;
    background: url('https://nihc.go.kr/images/main/btmenu_line1.png') no-repeat right center;
}

.header_link li:last-child {
    background: none;
}

.header_link li a {
    list-style: none;
    text-decoration: none;
    color: #B2B7C3;
    font-weight: 500;
    letter-spacing: -1px;
}

.top_box {
    height: 45px;
}

.sns_box ul li:first-child a {
    color: #305084;
    font-size: 13px;
    font-weight: 700;
    line-height: 34px;
}

.sns_box ul {
    text-align: right;
}

.sns_box li {
    margin-top: -33px;
    margin-left: 5px;
    border-radius: 50%;
    float: left;
    height: 34px;
    width: 34px;
    text-align: center;
    background: #ebecf0;
}

.sns_box ul img {
    padding-top: 7px;
    clear: inherit;
}

.sns_box ul p {
    padding-top: 9px;
}

#content {
    width: 100%;
}

#content .section::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#content .section>div {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}

#content>.section {
    text-align: center;
    height: 100vh;
}

.sns_link {
    width: 365px;
}

.announcement {
    width: 80px;
    height: 33px;
    text-align: center;
    background: #ebecf0;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 6px;
    line-height: 30px;
}

.announcement a {
    color: #305084;
}

#menu .container {
    position: relative;
}

#menu.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 90px;
    right: 0;
    height: 200px;
    background-color: rgba(19, 35, 75, 0.9);
    border-top: 1px solid rgba(19, 35, 75, 0.9);
    box-sizing: border-box;
}

/*
    *position absolute 가운데 만드는법
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
  */

/* 메뉴 */
/* .logo {
    position: absolute;
    top: 26px;
    height: 90px;
  } */
.logo {
    line-height: 90px;
    /* height: 90px;
    margin: 0 auto; */
}

.logo img {
    vertical-align: top;
    /* margin-top: 22px; */
    /* display: inline-block; */
}

.m_width {
    max-width: 1200px;
    margin: 0 auto;
}

/* #menu {
    width: 100%;
    height: 90px;
  } */

/* 1댑스2댑스다행당됨 */
#nav>li {
    height: auto;
    /* margin: 0 10px; */
    width: 135px;
    cursor: pointer;
}

#nav>li:nth-child(1),
#nav>li:nth-child(5) {
    margin-right: 30px;
}

#nav .m_sm {
    width: 40px;
    margin: 0;
}

#nav li>a {
    display: block;
    color: #ebecf0;
    line-height: 90px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.4px;
}

#nav li a:hover {
    color: #2f67bc;
}

/* 댑스안에 컨텐츠 */
.m1_tit {
    width: 220px;
    text-align: left;
    padding: 0 30px;
    box-sizing: border-box;
}

#nav li div.m_area {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(19, 35, 75, 0.9);

    /* border-bottom: 1px solid transparent; */
    /* border-top: 1px solid #e8e6f3; */
    height: 0px;
    overflow: hidden;
    padding: 0 0;
    /* transition: all 0.5s; */
    z-index: 2;
}

#nav li:hover div.m_area,
#nav li:focus-within div.m_area {
    height: 200px;
    border-top: 1px solid #d2d2d2;
    box-sizing: border-box;
}


/* 2depth start */
/* 반응형으로 할거면 %사용해도괜찮 */
#gnb nav {
    position: relative;
    left: 10px;
}

#gnb .m1_tit h2 {
    font-size: 23px;
    color: #282828;
    padding-bottom: 10px;
    line-height: 1.4;
}

#gnb .m1_tit p {
    color: #646464;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.4px;
    word-break: keep-all;
}

#gnb .m_depth_area {
    width: calc(100% - 220px);
    text-align: left;
    height: 135px;
}

#gnb .m_depth_area li dl {
    position: relative;
    margin-left: 30px;
}

#gnb .m_depth_area li dt {
    min-width: 122px;
}

#gnb .m_depth_area a {
    color: #c4c6cc;
    font-size: 1em;
    line-height: 170%;
    padding-left: 12px;
    background: url('../images/gnb_dott.png') no-repeat left center;
    margin-right: 50px;
}

#gnb .m_depth_area a:hover {
    color: #fff;
}

#gnb .m_depth_area li {
    position: relative;
    width: 1000px;
    height: 45px;
    line-height: 2.5;
    /* padding-left: 12px; */
}

#gnb .m_depth_area .d2 a {
    font-size: 17px;
    color: #fff;
    margin-right: 50px;
    line-height: 45px;
    background: -99999px -999999px;
}

/* #gnb li ul li dl dd {
    position: absolute;
    left: 110px;
  } */

#gnb li ul li h2 a {
    font-weight: bold;
    line-height: 200%;
    margin-bottom: 3px;
}

/* 반반배경삽입*/
.m_area .m_width {
    position: relative;
    padding-top: 30px;
}

.m_area .m_width::before {
    display: block;
    position: absolute;
    width: 220px;
    height: 200px;
    content: '';
    background-color: #f5f6fa;
    top: 0;
    left: 0;
    line-height: 1.4;
    z-index: -1;
}

.header_icon {
    line-height: 100px;
}


.header_icon li {
    margin: 0 7px;
    /* vertical-align: middle; */
}



/* //메뉴끝 */
/* banner시작 */
#banner {
    /* height: 907px; */
    width: 100%;
}

.brandVisual {
    /* position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 10; */
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}
.visual_slide li a{
    display: block;
    margin-top: 310px;
}

.visual_slide{
    width: 100%;
    height: 100%;
}

.visual_slide li{
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.visual_slide li{background: no-repeat; background-size: cover;}

.visual_slide li.visual_0{
    background-image: url(../images/banner01.jpg);
}
.visual_slide li.visual_1{
    background-image: url(../images/banner02.jpg);
}
.visual_slide li.visual_2{
    background-image: url(../images/banner03.jpg);
}

.visual_slide li.visual_3{
    background-image: url(../images/banner04.jpg);
}

.visual_slide li.visual_4{
    background-image: url(../images/banner05.jpg);
}

.visual_slide li.visual_5{
    background-image: url(../images/banner06.jpg);
}



/* controls */
.btnImg{position: relative; width: 90%; margin: auto; height: 30px; top: -444px;}
.btnImg img{width: 30px;}
.btnImg .prev{position: absolute; cursor: pointer; left: 100px;}
.btnImg .next{position: absolute; cursor: pointer; right: 100px;}


/* =============배너끝 */
/* content 시작 */
.content_title {
    text-align: center;
    padding-top: 200px;
}

.content_title h3 {
    font-size: 45px;
    font-weight: 400;
    color: #282828;
    margin-bottom: 15px;
}


.content_title p {
    font-size: 19px;
    font-weight: 400;
    color: #4a4a4a;
    padding: 15px 0 60px 0;
}


#content1 {
    height: 100vh;
    background: url('../images/section6_bg1.jpg'), url('../images/section6_bg2.jpg'), #dee4ec;
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
}

.news_list {
    width: 720px;
    height: 430px;
    box-sizing: border-box;
    margin-right: 34.359px;
    position: relative;
}

.news_list li {
    width: 343px;
    height: 198px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ced4da;
    padding: 34.35px;
    box-sizing: border-box;
    text-align: left;
}

.news_list li:nth-child(1),
.news_list li:nth-child(3) {
    margin-bottom: 30px;
    margin-right: 30px;
}

.news_list li strong,
.news_zone strong {
    font-size: 23px;
    color: #343434;
    font-weight: 500;
    display: block;
    line-height: 1.5;
    padding-top: 8px;
}


.news_list li::before,
.news_zone::before {
    content: '';
    background-color: #343434;
    width: 25px;
    height: 3px;
    display: inline-block;
    position: absolute;
}


.news_img {
    position: absolute;
    right: 44.203px;
    top: 55.35px;
}


.news_slidei {
    height: 280px;
    margin: 0 auto;
    position: relative;
}

.news_slidei a img {
    position: absolute;
    left: 0;
    top: 15px;
    text-align: center;
    max-width: 100%;
}



.news_ctrl {
    content: '';
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.news_ctrl a {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #302d2c;
    margin: 0 3px;
}

.news_list p a {
    font-size: 16px;
    height: 50px;
    margin: 10px 0;
    word-break: keep-all;
    display: inline-block;
    color: #646464;
    line-height: 1.5;
    font-weight: 300;
    overflow: hidden;
}

.news_list p a:hover {
    color: #2F67BC;
    text-decoration: underline;
}

.news_list li span {
    color: #646464;
    font-size: 15px;
    font-weight: 300;
}

/* .news_list li:nth-child(even) {
    float: right;
  } */

.news_list span+a {
    color: #646464;
    font-weight: 300;
}

.news_list span+a:hover {
    color: #2F67BC;
    text-decoration: underline;
}

.news_zone {
    position: relative;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ced4da;
    width: 434px;
    height: 430px;
    padding: 44.2px;
    box-sizing: border-box;
}

#content2 {
    background: url('../images/section1_bg2.png'), url('../images/section1_bg1.png'), #F5F8FF;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
}

.performance_wrap {
    position: relative;
}

.performance_box {
    width: 75%;
    overflow: hidden;
}

.performance_list li:hover {
    border: 1px solid #2f67bc;
}

.performance_list {
    width: 900px;
    height: 548px;
}

.performance_list li {
    width: 286.66px;
    height: 548px;
    display: inline-block;
    margin-right: 20px;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
}

.performance_list img {
    width: 283px;
    height: 425px;
}



.performance_img {
    height: 320px;
    overflow: hidden;
    position: relative;
}

.performance_list li:last-child {
    margin-right: 0;
}

/* perfornace slide */
.slide_list {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transition: left 0.5s ease-out;
}


.performance_prev {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.performance_next {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.performance_info {
    padding: 17.075px 21.350px;
}

.performance_info span {
    font-size: 22px;
    font-weight: 400;
    color: #282828;
    text-align: center;
    display: inline-block;
    margin: 0 0 15px;
    word-break: keep-all;
    line-height: 1.3;

}

.reservation {
    height: 45px;
    background: #606060;
    margin-top: 15px;
}

.reservation.active {
    background: #2f67bc;
}

.reservation em {
    color: #fff;
    text-align: center;
    font-size: 17px;
    line-height: 45px;
}

.performance_info p {
    color: #646464;
    line-height: 1.5;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -0.4px;
}

.performance_info .day {
    font-size: 12px;
    width: 50px;
    height: 20px;
    background: #343434;
    color: #fff;
    border-radius: 50px;
    display: inline-block;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.schedule {
    width: 282px;
    height: 548px;
}

.schedule_box {
    height: 120px;
    padding: 30px 23px;
    background: #2f67bc;
    text-align: left;
}

.schedule_box strong {
    background: url('../images/section1_icon.png') no-repeat center left;
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    padding-left: 35px;
}

.schedule_box span {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-top: 21px;
    line-height: 21px;
    display: block;
}

.schedule_box a {
    background: url('../images/section1_arrow.png') no-repeat right;
    color: #fff;
    font-size: 13.5px;
    font-weight: 300;
    margin-top: 23px;
    padding-right: 15px;
}

.schedule_list {
    margin-top: 20px;
    background: #fff;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
}

.schedule_list li {
    height: 116px;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
}

.schedule_list li:last-child {
    border: none;
}

.schedule_list strong {
    display: inline-block;
    font-size: 20px;
    width: 111px;
    height: 30px;
    margin-top: 34px;
    margin-left: -25px;
    cursor: pointer;
}

.schedule_list strong:hover {
    color: #2f67bc;
}

.schedule_list .s_list1 {
    background: url('../images/section1_icon2.png') no-repeat center left;
}

.schedule_list .s_list2 {
    background: url('../images/section1_icon3.png') no-repeat center left;
}

.schedule_list .s_list3 {
    background: url('../images/section1_icon4.png') no-repeat center left;
}

.schedule_list strong::after {
    content: '';
    background: url('../images/content2_icon.png') no-repeat;
    display: inline-block;
    height: 34px;
    width: 33px;
    margin-right: -34px;
    transform: translate(10px, 10px);
}

.list_area {
    margin-left: 20px;
}



#content3 {
    background: #ECE9DE;
}

.display_list li {
    background: #fff;
    display: inline-block;
    width: 282px;
    height: 340px;
    margin-right: 24px;
    padding: 28.188px 21.156px;
    box-sizing: border-box;
}

.display_list li:last-child {
    margin-right: 0px;
}

.display_list li span {
    font-size: 24px;
    font-weight: 500;
    color: #282828;
    margin-bottom: 10px;
    display: inline-block;
}

.display_list p {
    height: 87px;
    font-weight: 300;
    line-height: 1.4;
    overflow: hidden;
    color: #646464;
    word-break: keep-all;
}

.display_img {
    overflow: hidden;
    height: 140px;
    margin-top: 15px;
    padding-top: 25px;
    border-top: 1px solid #dfdfdf;
}

.display_img img {
    width: 100%;
    height: auto;
}


.display_box li {
    width: 588px;
    height: 120px;
    display: inline-block;
    margin-top: 18px;
    position: relative;
}

.display_item1 {
    background: url('../images/section2_icon1.png') no-repeat center left 50px,
        url('../images/section5_arrow_r.png') no-repeat center right 30px, #2f67bc;

}

.display_item2 {
    background: url('../images/section2_icon2.png') no-repeat center left 50px,
        url('../images/section5_arrow_r.png') no-repeat center right 30px, #3685bb;
}

.display_box span {
    font-size: 23px;
    font-weight: 400;
    color: #fff;
    /* margin: 470px 32px; */
    position: absolute;
    top: 35px;
    left: 128px;
}

.display_box p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 70px;
    left: 128px;
}


#content4 {
    height: 781px;
    background: url('../images/section3_bg.jpg') no-repeat;
}

.content_title1 h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 200px;
}

.content_title1 p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 19px;
    font-weight: 400;
    padding: 15px 0 60px 0;
}

.education>ul>li {
    width: 384px;
    height: 430px;
    margin-right: 24px;
    display: inline-block;
    text-align: left;
    padding: 70px 48px;
    box-sizing: border-box;
    background: url('../images/section3_bg1.jpg') no-repeat;
    background-size: cover;
}

.education>ul>li:last-child {
    margin-right: 0px;
}

.education_list li {
    background: url('../images/btn_bul.png') left 16px no-repeat;
    padding-left: 10px;
    line-height: 2.3;
}

.education_list li a {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.4s;
}

.education_list li a:hover {
    color: #fff;
}

.education_list1 li a {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    display: block;
    line-height: 1.5;
    word-break: keep-all;
}


.btn_add {
    display: block;
    margin-top: 30px;
    color: #fff;
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 2.5;
    width: 128px;
    height: 43px;
}

.education>ul>li+li {
    background: url('../images/section3_bg2.jpg') no-repeat;
    background-size: cover;
}

.education>ul>li+li+li {
    background: url('../images/section3_bg3.jpg') no-repeat;
    background-size: cover;
}

.edcation_title,
.society_title,
.learning_title {
    height: 75px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 30px;
}

#content5 {
    height: 600px;
    background: url('../images/section4_bg.jpg');
}

.event span {
    width: 100%;
    display: inline-block;
    font-size: 25px;
    font-family: 'Nanum Myeongjo', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-top: 14px;
    margin-bottom: 10px;
}

.event ul p {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    line-height: 1.5;
    word-break: keep-all;
}

.event_tit,
.event_content,
.event_content2 {
    text-align: left;
    /* width: 100%; */
}

.event a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    padding-right: 40px;
    background: url('../images/btn_more.png') no-repeat right 3px;
    margin-top: 28.344px;
}

.event li {
    width: 378px;
    height: 500px;
    margin-right: 32.4px;
    display: inline-block;
    padding: 45.359px 47.250px;
    box-sizing: border-box;
}

.event li:last-child {
    margin-right: 0px;
}

.event_area1 {
    background: url('../images/section4_bg01.jpg');
}

.event_area1 em {
    font-size: 9px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 1.3;
    margin-left: 10px;
    text-align: left;
}

.event strong {
    background-color: #ffeb3b;
    height: 25px;
    font-size: 18px;
    font-weight: 400;
    color: #282828;
    padding: 0 7px;
    line-height: 1.4;

}

.event_area2 {
    background: url('../images/section4_bg02.jpg');
    background-size: cover;
}

.event_area3 {
    background: url('../images/section4_bg03.jpg');
    background-size: cover;
}


#content6 {
    background: url('../images/section5_bg.jpg') no-repeat;
    background-size: cover;
}

.rental_info {
    width: 360px;
    height: 470px;
    display: inline-block;
    background: url('../images/content6_01.jpg') no-repeat center;
    background-size: cover;
    padding: 144px 36px;
    box-sizing: border-box;
}

#content6 strong {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    padding-top: 8px;
    margin-bottom: 10px;
}

.rental_info a {
    font-size: 17px;
    margin-top: 30px;
    color: #fff;
    display: block;
    padding-right: 35px;
    background: url('../images/btn_more.png') no-repeat center right 93px;
}


.rental_application {
    width: 828px;
    height: 470px;
    display: inline-block;
    padding: 20px 41.406px;
    box-sizing: border-box;
    background: #2f67bc;
    position: relative;
}

.rental_application h4 {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    position: absolute;
}


.rental_application h4+a {
    background: url('../images/section5_icon3.png') no-repeat left;
    padding-left: 25px;
    line-height: 1.8;
}

.rental_application span {
    font-weight: 300;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}


.rental_box {
    text-align: center;
}

.rental_box ul {
    display: inline-block;
    margin-top: 40px;
}

.rental_box li {
    width: 207px;
    height: 280px;
    margin-right: 20px;
    display: inline-block;
    transform: translate(10px, 10px);
}

.rental_bnt {
    margin-top: 30px;
}

.rental_bnt a {
    border: 1px solid #0B1628;
    border-radius: 50%;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
}


.rental_area1 {
    background: url('../images/section5_img1.jpg') no-repeat center;
    background-size: cover;
}

.rental_area2 {
    background: url('../images/section5_img2.jpg') no-repeat center;
    background-size: cover;
}

.rental_area3 {
    background: url('../images/section5_img3.jpg') no-repeat center;
    background-size: cover;
}

#content7 {
    height: 531px;
    background: url('../images/section7_bg.jpg');
}



.platform_info {
    background: url('../images/section7_bg1.jpg') no-repeat;
    background-size: cover;
    padding: 65px 42px;
    box-sizing: border-box;
    width: 420px;
    height: 445px;
    position: relative;
    text-align: left;
}

.platform_info strong::before {
    content: '';
    width: 25px;
    height: 3px;
    background: #404040;
    position: absolute;
    left: 42px;
    top: 65px;
    display: inline-block;
}

.platform_info strong {
    font-size: 30px;
    color: #343434;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 10px;
    word-break: break-all;
    line-height: 1.2;
    width: 100%;
}


.platform_info a {
    color: #343434;
    font-size: 17px;
    background: url('../images/btn_more1.png') no-repeat center right;
    display: inline-block;
    margin-top: 40px;
    padding-right: 35px;
}


.platform_box {
    width: 756px;
    /* height: 445px; */
    display: inline-block;
    background: #222f3d url('../images/section7_bg2.jpg') no-repeat;
    padding: 65px 56.703px;
    box-sizing: border-box;
}




.platform_area1 {
    height: 237px;
}

.platform_area1 span::before {
    content: "";
    width: 25px;
    height: 3px;
    background: #fff;
    display: inline-block;
    position: absolute;
    margin-top: -13px;
}


.platform_area1 span {
    font-size: 30px;
    color: #fff;
    text-align: left;
    display: inherit;
    padding-top: 8px;
    margin-bottom: 15px;
}

.platform_area1 p {
    color: rgba(255, 255, 255, 0.9);
    text-align-last: left;
    line-height: 1.5;
    font-weight: 300;
}

.platform_area1 li {
    display: inline-block;
    border: 1px solid #fff;
    width: 20%;
    height: 24px;
    padding: 10px 0;
    margin: 19.266px 25.703px 0 0;

}

.platform_area1 li a {
    color: #fff;
    vertical-align: middle;
}

.platform_area2 {
    height: 78px;
    text-align: center;
}

.platform_area2 span {
    display: inline-block;
    height: 110px;
    margin-left: 9px;
}

.platform_area2 span a {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    height: 65px;
    width: 115px;
    padding: 80px 0 0 0;
}

.platform_icon1 {
    background: url('../images/section7_icon1.png') no-repeat top center;
}

.platform_icon2 {
    background: url('../images/section7_icon2.png') no-repeat top center;
}

.platform_icon3 {
    background: url('../images/section7_icon3.png') no-repeat top center;
}

.platform_icon4 {
    background: url('../images/section7_icon4.png') no-repeat top center;
}

.platform_icon5 {
    background: url('../images/section7_icon5.png') no-repeat top center;
}

#content8 {
    /* height: 531px; */
    background: #ece9de;
}

.journal_list {
    text-align: left;
}

.journal_list li {
    padding: 42.656px 35.563px;
    box-sizing: border-box;
    width: 284px;
    height: 400px;
    margin-right: 20.400px;
    display: inline-block;
}

.journal_list li:last-child {
    margin-right: 0px;
}

.journal_list a {
    color: #646464;
    font-weight: 300;
    background: url('../images/btn_more3.png') no-repeat top 4px right;
    display: inline-block;
    padding-right: 15px;
}

.journal_list p {
    text-align: left;
    color: #646464;
    font-weight: 300;
    margin: 10px 0 15px;
    line-height: 1.4;
}

.journal_list strong {
    color: #282828;
    font-size: 25px;
    font-weight: 500;
}

.journal_area1 {
    background: url('../images/section8_bg1.jpg') no-repeat;
}

.journal_area2 {
    background: url('../images/section8_bg2.jpg') no-repeat;
}

.journal_area3 {
    background: url('../images/section8_bg3.jpg') no-repeat;
}

.journal_area4 {
    background: url('../images/section8_bg4.jpg') no-repeat;
}





/* footer시작 */
#footer_banner {
    background: #fff;
    height: 80px;
    position: relative;
}

#footer_banner .container {
    min-height: 80px;
}

.footer_btn li {
    background: url('../images/linkBtn_bg.png') no-repeat;
    position: absolute;
    top: 30px;
    display: block;
    width: 100%;
    height: 50%;
}


#footer {
    width: 100%;
    height: 224px;
    border-top: 1px solid #dfdfdf;
    background: #f2f3f5;
}


#footer .container {
    overflow: hidden;
    min-height: 224px;
}


#footer_nav {
    height: 25.500px;
    margin: 30px 0;
    text-align: left;
}

#footer_nav li {
    display: inline;
    padding-right: 11px;
}

#footer_nav li a {
    color: #646464;
    font-size: 17px;
    font-weight: 300;
}

#footer_nav li:nth-child(2) a {
    color: #282828;
}

#footer_nav li::after {
    content: '';
    background: url('../images/btmenu_line.png') no-repeat right 7px;
    padding-left: 15px;
}

#footer_nav li:last-child::after {
    background: none;
}

.footer_info {
    height: 51px
}

.footer_info ul {
    text-align: left;
}

.footer_info li {
    display: inline-block;
    color: #646464;
    font-size: 17px;
    font-weight: 300;
    margin-right: 20px;
}

.footer_info li:first-child {
    margin-bottom: 10px;
}

.footer_copyright {
    height: 22.500px;
    margin-top: 15px;
    text-align: left;
}

.footer_copyright p {
    font-size: 15px;
    color: #646464;
    font-weight: 300;
}

/* quickWrap*/
.quickWrap {
    position: relative;

}

.quickWrap a img {
    position: absolute;
    right: 240px;
    bottom: 150px;
}

.container {
    /* 넓이1200 */
    max-width: 1200px;
    margin: auto;
}