/* popup시작 */
#popup {
  height: 60px;
  background: #BFCFF0;
}

.popup_box {
  height: 60px;
}

.popup1 {
  width: 402px;
}

.popup3 {
  margin-top: -61px;
}

/* position: absolute;
  right: 231px;
  top: 0; */

/* header시작 */
#header {
  width: 100%;
  background: rgba(19, 35, 75, 0.9);
}

.top_box {
  height: 45px;
}

.header_link {
  width: 835px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
}

.header_link li {
  float: left;
  font-size: 14px;
  padding-right: 7px;
  margin-right: 7px;
  margin-top: 15px;
  background: url(https://nihc.go.kr/images/main/btmenu_line1.png)no-repeat right center;
}

.header_link li:last-child {
  background: none;
}

.header_link li a {
  list-style: none;
  text-decoration: none;
  color: #B2B7C3;
  font-weight: 500;
  letter-spacing: -1px;
}

.sns_box ul:first-child a {
  color: #305084;
  font-size: 13px;
  font-weight: 700;
  line-height: 34px;
}

.sns_box ul {
  text-align: right;
}

.sns_box li {
  margin-top: -33px;
  margin-left: 5px;
  border-radius: 50%;
  float: left;
  height: 34px;
  width: 34px;
  text-align: center;
  background: #ebecf0;
}

.sns_box ul img {
  padding-top: 7px;
  clear: inherit;
}

.sns_box ul p {
  padding-top: 9px;
}

/* banner시작 */
#banner {
  height: 531px;
  width: 100%;
}

#top_menu #gnb {
  height: 45px;
  background: #29385d;
  background: inherit;
}


#contents {
  width: 100%;
}

.sns_link {
  width: 365px;
}

.announcement {
  width: 80px;
  height: 33px;
  text-align: center;
  background: #ebecf0;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 6px;
  line-height: 30px;
}

.announcement a {
  color: #305084;
}

#menu .container {
  position: relative;
}

#menu.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 90px;
  right: 0;
  height: 200px;
  background-color: rgba(19, 35, 75, 0.9);
  border-top: 1px solid rgba(19, 35, 75, 0.9);
  box-sizing: border-box;
}

/*
    *position absolute 가운데 만드는법
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
  */

/* 메뉴 */
/* .logo {
    position: absolute;
    top: 26px;
    height: 90px;
  } */
#menu h1 {
  height: 90px;
}

/* .logo {
  line-height: 90px;
  margin: 0 auto;
} */

.logo img {
  /* vertical-align: top; */
  margin-top: 22px;
  display: inline-block;
}

/* ====================================== */
/* nav자리 */
#gnb {
  position: absolute;
  margin: 0 auto;
}

#nav ul {
  position: relative;
  margin-left: 290px;
  width: 800px;
}

.depth1 .fisrt:first-child a {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

#gnb ul li:nth-child(1),
#gnb ul li:nth-child(5) {
  margin-right: 30px;
}

/* ====================================== */

.content_title {
  text-align: center;
}

.content_title h2 {
  font-size: 45px;
  margin-bottom: 15px;
}

.content_title p {
  font-size: 19px;
}



#content1 {
  height: 654px;
  background: url(/03projects1/01_markup/images/section6_bg1.jpg), url(/03projects1/01_markup/images/section6_bg2.jpg), #dee4ec;
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
}


.news_list {
  width: 720px;
}

.news_list li {
  width: 343px;
  height: 198px;
  display: inline-block;
  border: 1px solid;
}

.news_list li:nth-child(3),
.news_list li:nth-child(4) {
  margin-top: 30px;
}

.news_list li:nth-child(even) {
  float: right;
}

.news_zone {
  width: 434px;
  height: 430px;
}

#content2 {
  height: 630px;
  background: url(/03projects1/01_markup/images/section1_bg2.png), #F5F8FF;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.performance_list {
  width: 900px;
  height: 548px;
}

.performance_list li {
  width: 286.66px;
  height: 548px;
  display: inline-block;
  margin-right: 20px;
  border: 1px solid;
  box-sizing: border-box;
}

.performance_list li:last-child {
  margin-right: 0;
}

.schedule {
  width: 282px;
  height: 548px;
}

.schedule_box {
  height: 180px;
}

.schedule_list {
  margin-top: 20px;
}

.schedule_list li {
  height: 116px;
}

#content3 {
  height: 640px;
  background: #ECE9DE;
}

.display_list li {
  width: 282px;
  height: 340px;
  margin-right: 24px;
  display: inline-block;
}

.display_list li:last-child {
  margin-right: 0px;
}

.display_box li {
  width: 588px;
  height: 120px;
  display: inline-block;
  margin-top: 18px;
}

#content4 {
  height: 781px;
  background: url(/03projects1/01_markup/images/section3_bg.jpg) no-repeat;
}

.education li {
  width: 384px;
  height: 430px;
  margin-right: 24px;
  display: inline-block;
}

.education li:last-child {
  margin-right: 0px;
}

#content5 {
  height: 600px;
  background: url(/03projects1/01_markup/images/section4_bg.jpg);
}

.event li {
  width: 378px;
  height: 500px;
  margin-right: 32.4px;
  display: inline-block;
}

.event li:last-child {
  margin-right: 0px;
}

#content6 {
  height: 550px;
  background: url(/03projects1/01_markup/images/section5_bg.jpg)no-repeat;
  background-size: cover;
}

.rental_info {
  width: 360px;
  height: 470px;
  display: inline-block;
}

.rental_application {
  width: 828px;
  height: 470px;
  display: inline-block;
}

.rental_box {
  text-align: center;
}

.rental_box ul {
  display: inline-block;
  margin-top: 40px;
}

.rental_box li {
  width: 207px;
  height: 280px;
  margin-right: 20px;
  display: inline-block;
}

#content7 {
  height: 531px;
  background: url(/03projects1/01_markup/images/section7_bg.jpg);
}

.platform_info {
  width: 420px;
  height: 445px;
}

.platform_box {
  width: 756px;
  height: 445px;
  display: inline-block;
}

.platform_box li:first-child {
  height: 237px;
}

.platform_box li+li {
  height: 208px;
}

#content8 {
  height: 531px;
  background: #ece9de;
}

.journal_list li {
  width: 284px;
  height: 400px;
  margin-right: 20.400px;
  display: inline-block;
}

.journal_list li:last-child {
  margin-right: 0px;
}

/* footer시작 */
#footer {
  width: 100%;
  height: 224px;
  border-top: 1px solid #dfdfdf;
  background: #f2f3f5;

}


#footer .container {
  overflow: hidden;
}

#footer_banner {
  background: #fff;
  height: 80px;
}

#footer_nav {
  height: 25.500px;
  margin: 30px 0;
}

.footer_info {
  height: 51px
}

.footer_copyright {
  height: 22.500px;
  margin-top: 15px;
}

.container {
  /* 넓이1200 */
  max-width: 1200px;
  /* background-color: rgba(255, 0, 255, 0.5); */
  height: inherit;
  margin: auto;
}