#header {
  position:relative;
  height:100vh;
  background:none;
}
#popup{position:absolute; width:100%;}
#top_menu{position:absolute; width:100%; top:60px; height: 50px;}
#menu {
  top:110px;
  position:relative;
  width:100%;
  height:90px;
  background:rgba(0, 0, 128, 0.479);
  z-index: 9999999;
}
#banner{
  position:relative;
  height:100%;
  top:-90px;
}
