@media screen and (min-width: 961px) and (max-width: 1024px){
    #popup {
        display: none;
    }
    #header {
        height: 75px;
        top: 0;
    }
}



/* 테블릿 */
@media screen and (min-width: 768px) and (max-width:960px)



/* 모바일 */
@media screen and (min-width: 360px) and (max-width:480px)